<% layout("./layout/boilerplate.ejs")%>
<body>
    <style>
   
        /* Base styles */
 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
 }
 
 #filters{
         display: flex;
 
     }
     .filter{
         display: inline;
         justify-content: center;
         margin-left: 4rem;
         align-items: center;
         text-align: center;
         opacity: 0.7;
         padding-top: 0;
         font-size: 1rem;
         
     }
     #filters a{
         text-decoration: none;
         color: black;
         margin-top: 0;
         display: inline;
         justify-content: center;
         margin-left: 4rem;
         align-items: center;
         text-align: center;
         opacity: 0.7;
         padding-top: 0;
         font-size: 1rem;
     }
     .filter:hover{
         opacity: 1;
         cursor: pointer;
         text-decoration: underline;
     }
 
 @media (max-width: 1200px) {
         .row {
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
         }
     }
     @media (max-width: 992px) {
         .filter {
             margin-left: 2rem;
             margin-right: 2rem;
         }
         .filter, #filters a {
        font-size: 1.2rem;
        margin: 0.5rem 1rem;
    }
     }
     @media (max-width: 768px) {
         #filters {
             flex-direction: column;
         }
         .filter {
             margin-left: 0;
             margin-right: 0;
             margin-bottom: 1rem;
         }
         .row {
             display: flex;
             flex-direction: column;
             align-items: center;
         }
     }
     @media (max-width: 576px) {
         .filter {
             margin-left: 0;
             margin-right: 0;
             margin-bottom: 0.5rem;
         }
         .card {
             width: 90%;
         }
         #filters {
         display: grid;
         grid-template-columns: repeat(3, 1fr); /* Three filters per row */
         gap: 0.7rem; /* Space between grid items */
        
     }
     }
     
 </style>
     <div id="filters" class=" mb-3">
        <a href="/">
            <div class="filter">
                <div><i class="fa-solid fa-house-user"></i></div>
                <p>Home</p>
            </div>
        </a>
        <a href="/Fun">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>FunTour</p>
             </div>
        </a>
        <a href="/listing">
         <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Fort</p>
         </div>
        </a>
        <a href="/Agri">
            <div class="filter">
                <div><i class="fa-solid fa-tractor"></i></div>
                <p>AgriTour</p>
             </div>
        </a>
         
         <a href="/Camping">
            <div class="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
             </div>
         </a>
         <a href="/Waterfall">
            <div class="filter">
                <div><i class="fa-solid fa-mountain-sun"></i></div>
                <p>Waterfall</p>
             </div>
         </a>
         <a href="<%=currPath%>/new">
            <div class="filter">
                <div><i class="fa-solid fa-hotel"></i></div>
                <p>Add Hotel near Location</p>
             </div>
         </a>
         
         
     </div>
    
    <ul>
        
        <div class="row row-cols-md-2 row-cols-lg-4 row-cols-sm-1">
            
            <% for(let li of list.Hotel){ %>
            <a class="li-link" href="/Fun/<%=id%>/hotels/<%=li._id%>">
                <div class="card col card-listing" style="width: 15rem">
                    <% if (li.image && li.image.length >= 0) { %>
                        <img src="<%= li.image[0].path %>" class="card-img-top" style="height: 15rem" alt="...">
                      <% } else { %>
                        <img src="/list" class="card-img-top" style="height: 15rem" alt="Default Image">
                      <% } %>
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                    <p class="card-text">
                        <b><%=li.title%></b><br>
                        &#8377;<%=li.price%>
                        
                    </p>
                    
                    </div>
                </div>
            </a>
            <% } %>
        </div>
            
       
    </ul>
    
</body>
<script>
    let tax=document.getElementById("flexSwitchCheckDefault");
    tax.addEventListener("click",()=>{
        let taxInfo=document.getElementsByClassName("hidden");
        for(let info of taxInfo){
            if(info.style.display!="inline"){
                info.style.display="inline";
            }else{
                info.style.display="none";
            }
        }
    })
</script>